<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}">
    <title>Film Companion</title>
</head>
<body>
    <header>
        <nav class="container">
            <h2><a href="/">Film Companion</a></h2>
            <ul>
                <li><a href="#">Film Index</a></li>
                <li><a href="#">Tips & Tricks</a></li>
                <li><a href="#">Rules of Thumb</a></li>
                <li><a href="#">Gear</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
        
    {% endblock content %}

</body>
</html>