<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <title>Film Companion</title>
</head>
<body class="cursor-default">
    <header class="shadow-lg w-full bg-white sticky top-0">
        <nav class="container flex flex-row py-6 justify-between align-middle">
            <div class="nav-left flex">
                <h2 class="flex items-center mr-12"><a class="h-max" href="/">Film Companion</a></h2>
                <ul class="flex">
                    <li class="p-4 mx-2"><a href="/">Home</a></li>
                    <li class="p-4 mx-2"><a href="/film-index">Film Index</a></li>
                    <li class="p-4 mx-2"><a href="#">Tips & Tricks</a></li>
                    <li class="p-4 mx-2"><a href="#">Rules of Thumb</a></li>
                    <li class="p-4 mx-2"><a href="/gear">Gear</a></li>
                </ul>
            </div>
            <div class="nav-right flex">
                <ul class="flex">
                    {% if session['user_id'] %}
                        <li class="p-4 mx-2">
                            <a href="/@{{ session['username'] }}">{{ session['first_name'] }} {{ session['last_name'] }}</a>
                        </li>
                        <li class="p-4 mx-2"><a href="/logout">Logout</a></li>
                    {% else %}
                        <li class="p-4 mx-2"><a href="/register">Register</a></li>
                        <li class="p-4 mx-2"><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <div class="container py-8">
        {% block content %}
        
        {% endblock content %}
    </div>

</body>
</html>