<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Film Companion</title>
</head>
<body class="cursor-default">
    <header class="bg-sd-green">
        <nav class="container flex flex-row py-6 align-middle">
            <h2 class="flex items-center mr-12"><a class="h-max" href="/">Film Companion</a></h2>
            <ul class="flex">
                <li class="p-4 mx-2"><a href="#">Film Index</a></li>
                <li class="p-4 mx-2"><a href="#">Tips & Tricks</a></li>
                <li class="p-4 mx-2"><a href="#">Rules of Thumb</a></li>
                <li class="p-4 mx-2"><a href="#">Gear</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
        
    {% endblock content %}

</body>
</html>